/*
 * Naming variable
 *
 * Start by naming the variable "$color" and add the name (camelCase) that you find here
 * http://www.color-blindness.com/color-name-hue/
 *
 * Examples :
 * - "darken( $base-color, 10% )"
 * - "lighten( $base-color, 10% )"
 *
 * - rgba( $color-alizarin-crimson, .7 )
 *
 *
 */


/*==========================================================================
Black
========================================================================== */
$colorBlack : #000000;
/*==========================================================================
Grey
========================================================================== */
$colorGrey : #666C74;
$colorNero : #a3a9ab;
/*==========================================================================
White
========================================================================== */
$colorWhite : #FFFFFF;

/*==========================================================================
Red
========================================================================== */

/*==========================================================================
Blue
========================================================================== */


/*==========================================================================
Green
========================================================================== */


/*==========================================================================
Orange
========================================================================== */
$colorCinnabar : #EF5A31;